$blk: #000;
$tc: #320;
$yellow: #fa0;
$menubg: $yellow;
$menutc: $tc;
$btnBg: $yellow;
$btnColor: $blk;
$topHeight: 66vh;
$bottomHeight: 34vh;

$comfortaa: 'Comfortaa', cursive;
$permanentMarker: 'Permanent Marker', cursive;

$hFont: $permanentMarker;
$pFont: $comfortaa;


body, p {
  margin: 0;
  font-family: $hFont;
  font-weight: 300;
}
h1, h2, h3 {
//  font-family: $bangers;
  font-family: $pFont;
  font-weight: normal;
}
body {
  position: relative;
  color: $tc;
  width: 100vw;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
header {
  background: #222;
  color: #fff;
  width: 100vw;
  padding-left: 15px;
  position: fixed;
    top: 0;
    left: 0;
  h1 {
    font-family: $pFont;
    color: #ddd;
    display: inline-block;
    margin: 5px 0 9px 0;
    font-size: 1.3em;
  }
}

// menu
#menu {
  display: inline-block;
  padding: 11px 28px 6px 20px;
  position: fixed;
  top: 0;
  right: 0;
  .menu-dot {
    width: 4px;
    height: 4px;
    background: #ccc;
    margin-bottom: 4px;
    border-radius: 2px;
  }
  .menu-dot:nth-of-type(1) {
    background: #fa0;
  }
  &:hover {
    cursor: pointer;
  }
}
#menu_toggle {
  display: inline-block;
  position: fixed;
  top: 44px;
  right: -12em;
  background: $menubg;
  color: #000;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  transition: right 0.2s;
  ul {
    font-family: $pFont;
    margin: 0;
    li {
      padding: 16px 32px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
  &:hover {
    cursor: pointer;
  }
  &.slide-in {
    right: 0;
  }
}
#app {
  text-align: center;
  p {
    padding-top: 25vh;
    font-size: 2.6em;
  }
  button {
    font-size: 1.4em;
    padding: 10px 24px;
//    width: 80%;
    background: #fa0;
  }
}

.page {
  padding: 0 1em;
}

// Manage Page
#manage {
  h2 {
    font-size: 2em;
    margin-top: 2em;
    color: #000;
  }
  ul {
    font-size: 1.6em;
    li {
      color: transparentize($tc, 0.15);
      overflow: hidden;
      white-space: nowrap;
      border-bottom: 1px solid rgba(100,40,0,0.2);
      padding: 12px 0;
      div:first-child {
        display: inline-block;
        margin: 0 1em 0 0.8em;
      }
      div:last-child {
        display: inline-block;
      }
    }
    button {
      background: transparent;
      border: 1px solid $btnBg;
      padding: 6px 10px 4px;
      border-radius: 4px;
      font-size: 1em;
      line-height: 1em;
      color: rgba(70,20,0,0.7);
      font-weight: bold;
    }
  }
}
#suggestion_input {
  height: 1.5em;
  width: 100%;
  font-size: 1.5em;
  color: $tc;
}
#add_btn {
  font-size: 1.4em;
  width: 6em;
  height: 2em;
  margin-top: 0.5em;
  padding-top: 3px;
  &:focus {
    border: 1px solid darken($yellow, 10%);
    -webkit-box-shadow: 0px 0px 3px darken($yellow, 20%);
    box-shadow: 0px 0px 3px darken($yellow, 20%);
  }
}

.page {
  height: 100vh;
}
.btn {
  background: $btnBg;
  color: $btnColor;
  border-style: none;
  font-family: $pFont;
  &:hover {
    cursor: pointer;
  }
}

.top {
  height: $topHeight;
}
.bottom {
  height: $bottomHeight;
}
.left {
  width: 40vw;
}
.right {
  width: 60vw;
}

.hidden {
  display: none;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}

  .container {
    max-width: 990px;
    margin: 0 auto;
  }