$tc: #444;
$menubg: #fa0;
$menutc: $tc;
$topHeight: 66vh;
$bottomHeight: 34vh;



body, p {
  margin: 0;
}
body {
  position: relative;
  color: $tc;
  width: 100vw;
}
header {
  background: #222;
  color: #fff;
  width: 100vh;
  padding-left: 15px;
  position: fixed;
    top: 0;
    left: 0;
  h1 {
    display: inline-block;
    margin: 10px 0 12px 0;
    font-size: 1.2em;
  }
}

// menu
#menu {
  display: inline-block;
  position: fixed;
  top: 12px;
  right: 25px;
  .menu-dot {
    width: 4px;
    height: 4px;
    background: #ccc;
    margin-bottom: 4px;
    border-radius: 2px;
  }
  .menu-dot:nth-of-type(1) {
    background: #fa0;
  }
}
#menu_toggle {
  display: inline-block;
  position: fixed;
  top: 44px;
  right: -12em;
  background: $menubg;
  color: #000;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  transition: right 0.2s;
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    li {
      padding: 16px 32px 16px 42px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
  &.slide-in {
    right: 0;
  }
}
#app {
  text-align: center;
  p {
    padding-top: 25vh;
    font-size: 2.2em;
    font-weight: bold;
  }
  button {
    font-size: 1.6em;
    padding: 3%;
    width: 80%;
    background: #fa0;
  }
}


.page {
  height: 100vh;
}

.top {
  height: $topHeight;
}
.bottom {
  height: $bottomHeight;
}
.left {
  width: 40vw;
}
.right {
  width: 60vw;
}

.hidden {
  display: none;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}