$blk: #000;
$tc: #444;
$yellow: #fa0;
$menubg: $yellow;
$menutc: $tc;
$btnBg: $yellow;
$btnColor: $blk;
$topHeight: 66vh;
$bottomHeight: 34vh;



body, p {
  margin: 0;
}
body {
  position: relative;
  color: $tc;
  width: 100vw;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
header {
  background: #222;
  color: #fff;
  width: 100vw;
  padding-left: 15px;
  position: fixed;
    top: 0;
    left: 0;
  h1 {
    display: inline-block;
    margin: 10px 0 12px 0;
    font-size: 1.2em;
  }
}

// menu
#menu {
  display: inline-block;
  position: fixed;
  top: 12px;
  right: 25px;
  .menu-dot {
    width: 4px;
    height: 4px;
    background: #ccc;
    margin-bottom: 4px;
    border-radius: 2px;
  }
  .menu-dot:nth-of-type(1) {
    background: #fa0;
  }
}
#menu_toggle {
  display: inline-block;
  position: fixed;
  top: 44px;
  right: -12em;
  background: $menubg;
  color: #000;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  transition: right 0.2s;
  ul {
    margin: 0;
    li {
      padding: 16px 32px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
  &.slide-in {
    right: 0;
  }
}
#app {
  text-align: center;
  p {
    padding-top: 25vh;
    font-size: 2.2em;
    font-weight: bold;
  }
  button {
    font-size: 1.6em;
    padding: 10px 24px;
//    width: 80%;
    background: #fa0;
  }
}

.page {
  padding: 0 1em;
}

// Manage Page
#manage {
  h2 {
    font-size: 2em;
    margin-top: 2em;
    color: #000;
  }
  ul {
    font-size: 1.6em;
    li {
      overflow: hidden;
      white-space: nowrap;
      border-bottom: 1px solid #ddd;
      padding: 12px 0;
      div:first-child {
        display: inline-block;
        margin: 0 1em 0 0.8em;
      }
      div:last-child {
        display: inline-block;
      }
    }
    button {
      background: $btnBg;
      padding: 6px 10px 4px;
      border-radius: 4px;
      font-size: 1em;
      line-height: 1em;
    }
  }
}
#suggestion_input {
  height: 1.6em;
  width: 100%;
  font-size: 1.4em;
  color: $tc;
}
#add_btn {
  font-size: 1.4em;
  width: 6em;
  height: 2em;
  margin-top: 0.5em;
}

.page {
  height: 100vh;
}
.btn {
  background: $btnBg;
  color: $btnColor;
  border-style: none;
}

.top {
  height: $topHeight;
}
.bottom {
  height: $bottomHeight;
}
.left {
  width: 40vw;
}
.right {
  width: 60vw;
}

.hidden {
  display: none;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}